<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>claros-groupware</display-name>
	<filter>
		<filter-name>CharacterFilter</filter-name>
		<display-name>CharacterFilter</display-name>
		<filter-class>org.claros.groupware.common.filters.CharacterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.claros.groupware.common.filters.SessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>config/profiling</param-name>
			<param-value>/WEB-INF/config/struts-profiling.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/webmail</param-name>
			<param-value>/WEB-INF/config/struts-webmail.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/error</param-name>
			<param-value>/WEB-INF/config/struts-error.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/preferences</param-name>
			<param-value>/WEB-INF/config/struts-preferences.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/contacts</param-name>
			<param-value>/WEB-INF/config/struts-contacts.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/notes</param-name>
			<param-value>/WEB-INF/config/struts-notes.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/calendar</param-name>
			<param-value>/WEB-INF/config/struts-calendar.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/filters</param-name>
			<param-value>/WEB-INF/config/struts-filters.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>InitiatorBase</servlet-name>
		<display-name>InitiatorBase</display-name>
		<servlet-class>org.claros.commons.configuration.Initiator</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>InitiatorMail</servlet-name>
		<display-name>InitiatorMail</display-name>
		<servlet-class>org.claros.commons.mail.configuration.Initiator</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ShowPartServlet</servlet-name>
		<display-name>ShowPartServlet</display-name>
		<servlet-class>org.claros.groupware.webmail.actions.ShowPartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxLookupServlet</servlet-name>
		<display-name>AjaxLookupServlet</display-name>
		<servlet-class>org.claros.groupware.contacts.actions.AjaxLookupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExportContactsServlet</servlet-name>
		<display-name>ExportContactsServlet</display-name>
		<servlet-class>org.claros.groupware.contacts.actions.ExportContactsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPartServlet</servlet-name>
		<url-pattern>/webmail/showPart.cl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxLookupServlet</servlet-name>
		<url-pattern>/contacts/ajaxLookup.cl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportContactsServlet</servlet-name>
		<url-pattern>/contacts/exportContacts.cl</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/taglibs-string.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/taglibs-string.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/claros-tabview.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/claros-tabview.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/claros-paginator.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/claros-paginator.tld</taglib-location>
	</taglib>
</web-app>
