<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<context-param>
	<param-name>userid</param-name>
	<param-value>admin</param-value>
</context-param>
<context-param>
	<param-name>password</param-name>
	<param-value>admin</param-value>
</context-param>
<context-param>
	<param-name>register</param-name>
	<param-value>C:\\Program Files\\Apache Software Foundation\\Tomcat 5.5\\webapps\\SearchEngine2\\database\\users.xml</param-value>
</context-param>
<context-param>
	<param-name>topicsearch</param-name>
	<param-value>C:\\Program Files\\Apache Software Foundation\\Tomcat 5.5\\webapps\\SearchEngine2\\database\\sengine.xml</param-value>
</context-param>
<context-param>
	<param-name>productsearch</param-name>
	<param-value>C:\\Program Files\\Apache Software Foundation\\Tomcat 5.5\\webapps\\SearchEngine2\\database\\products.xml</param-value>
</context-param>
<context-param>
	<param-name>jobsearch</param-name>
	<param-value>C:\\Program Files\\Apache Software Foundation\\Tomcat 5.5\\webapps\\SearchEngine2\\database\\jobs.xml</param-value>
</context-param>
<context-param>
	<param-name>postresume</param-name>
	<param-value>C:\\Program Files\\Apache Software Foundation\\Tomcat 5.5\\webapps\\SearchEngine2\\database\\resumes.xml</param-value>
</context-param>
<context-param>
	<param-name>yellowpagesearch</param-name>
	<param-value>C:\\Program Files\\Apache Software Foundation\\Tomcat 5.5\\webapps\\SearchEngine2\\database\\yellowpages.xml</param-value>
</context-param>
<context-param>
	<param-name>resumedir</param-name>
	<param-value>C:\\Program Files\\Apache Software Foundation\\Tomcat 5.5\\webapps\\SearchEngine2\\resumes</param-value>
</context-param>
<servlet>
	<servlet-name>search1</servlet-name>
	<jsp-file>/Search.jsp</jsp-file>
</servlet>
<servlet>
	<servlet-name>search2</servlet-name>
	<jsp-file>/AdvancedSearch.jsp</jsp-file>
</servlet>
<servlet-mapping>
	<servlet-name>search1</servlet-name>
	<url-pattern>/Search</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>search2</servlet-name>
	<url-pattern>/AdvancedSearch</url-pattern>
</servlet-mapping>
<welcome-file-list>
	<welcome-file>Home.jsp</welcome-file>
</welcome-file-list>
<error-page>
	<error-code>404</error-code>
	<location>/PageNotFound.jsp</location>
</error-page>
<error-page>
	<error-code>504</error-code>
	<location>/InternalServerError.jsp</location>
</error-page>
<error-page>
	<exception-type>java.lang.NullPointerException</exception-type>
	<location>/NullPointerException.jsp</location>
</error-page>
</web-app>